.messageRow {
    display: flex;
    align-items: flex-start;
    max-width: 55%;
    flex-direction: column;
    gap: 2px;

    margin-left: 15px;

}
.avatar {
    position: relative;
    right: 15px;
    width: 24px;
    height: 24px;
}
.messageBubble {
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--gptBubble);
}
.userBubble {
    background-color: var(--userBubble);
    color: var(--white);
}

.messageText {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    word-wrap: break-word;

}

