.userInfo {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--white);
  height: 10%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.details {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.nameWithIcon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logOut {
  width: 24px;
  height: 24px;
  fill: var(--menuText);
  cursor: pointer;
}

.name, .email {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--textColor);
}

@media (max-width: 768px) {
  .name, .email {
    display: none;

  }

  .userInfo {
    display: flex;
    justify-content: center;
    width: 44px;
  }
  .avatar{
    display: none;

  }
}
