.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 71%;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.icon, .dropdownIcon {
  width: 24px;
  height: 24px;
}

.label {
  margin-left: 8px;
  flex-grow: 1;
}

.topItems li, .bottomItems li {
  display: flex;
  align-items: center;
  color: var(--menuText);
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.topItems li:hover, .bottomItems li:hover {
  background-color: var(--hoverColor);
}

@media (max-width: 768px) {


  .label, .dropdownIcon {
    display: none;
  }

  .menuItem {
    padding: 5px 0;

  }
}
