.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 72%;
}
.menuItem {
  display: flex;
  align-items: center;
  padding: 8px;
}
.icon,
.dropdownIcon {
  width: 24px;
  height: 24px;
}

.label {
  margin-left: 8px;
  flex-grow: 1;
}
.topItems li,
.bottomItems li {
  display: flex;
  align-items: center;
  color: var(--menuText);
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0.5rem;
}
.topItems li:hover,
.bottomItems li:hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}
