.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ana öğeleri üstte, alt öğeleri altta tutar */
  height: inherit; /* Yüksekliği ebeveyn öğeden alır */
  background-color: rgb(137, 142, 142);
}

.topItems {
  list-style: none; /* Liste öğelerinin önündeki noktaları kaldırır */
  padding: 0; /* Varsayılan padding'i sıfırlar */
}

.bottomItems {
  list-style: none;
  padding: 0;
  margin-top: auto; /* Bu öğeleri altta tutmak için kullanılır */
}

.topItems li,
.bottomItems li {
  padding: 8px 16px; /* Liste öğeleri için padding */
  cursor: pointer; /* Mouse imlecini el şekline çevirir */
}

/* Liste öğeleri için ekstra stiller ekleyebilirsiniz, örneğin hover efektleri vb. */
.topItems li:hover,
.bottomItems li:hover {
  background-color: #f5f5f5; /* Üzerine gelindiğinde arkaplan rengini değiştirir */
}
