
.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color:var(--white);
}

.messageList {
  overflow-y: auto;
  padding: 1rem;
  flex-grow: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;

}
.messageList::-webkit-scrollbar {
  display: none;
}
.messageRowRight {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.messageRowLeft {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}

.messageForm {
  display: flex;
  padding: 10px;
}

.form {
  flex-grow: 1;
}

.messageInput {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.sendButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.sendIcon {
  width: 24px;
  height: 24px;
}

