.searchBar {
  display: flex;
  justify-content: center;
}

.searchBarInput {
  width: 85%;
  height: 40px;
}

@media (max-width: 768px) {
  .searchBar {
    display: none;
    padding: 0;
    margin: 0;
  }

}
