.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.logoText {
  display: flex;
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  word-wrap: break-word;
}
