.App {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: var(--bgColor);
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
}

.left {
  flex: 0 1 auto;
  background-color: var(--white);
  height: 100%;
  border-radius: 5px;
}

.right {
  flex: 1 1 0;
  background-color: var(--white);
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .App {
    padding-left: 0;
    gap: 10px;

  }


  .left {
    flex: 0 1 auto;
  }

  .right {
    flex: 1 1 auto;
  }
}
