.App {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  background-color: var(--bgColor);
  gap: 30px;
  padding: 34px 26px;
  position: relative;
}
.leftSideBar {
  flex: 1;
  background-color: var(--white);
  height: 100%;
}
.chatScreen {
  flex: 3;
  background-color: var(--white);
  height: 100%;
}
